
<% layout('layouts/boilerplate')%>


<div class="container row justify-content-center">
    <% recipes.forEach(recipe => { %>
        <div class="card shadow p-1 mx-1 mb-5 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <a href="/recipes/<%=recipe._id%>" class='text-black text-decoration-none'>
                <h5 class="card-title text-dark "><%= recipe.title %> </h5>
            </a>
            <a href="/recipes/<%=recipe._id%>">
                <img class="card-img" src="<%= recipe.images[0].thumbnail %> " alt="<%= recipe.title %> ">
            </a>
            <div class="card-body">
                <p class="card-text"><%= recipe.description %> </p>
            </div>
        </div>
    <% }) %>
</div>
